*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
    font-weight: 300;
    
}
#main{
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 10px;
}
nav{
    background-color: black;
    text-align: end;
    color: white;
    padding: 15px;
}
.sidebar{
    position: fixed;

}
.profile{
    display: flex;
    justify-self: start;
    padding: 20px;
    border-bottom: 2px solid rgb(225, 221, 221);

}
.profile span{
    font-weight: 300;
}
.profile .message{
    padding-left: 23px;
}
.profile ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 15px;
}
.profile img{
    border-radius: 50%;
}
.dash-part{
    padding: 10px;
    margin:10px ;
}
   
.dash-part li, i{
    color: black;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
    font-size: 18px;
}
.dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;

}
#one{
    background-color: brown;
}
#one{
    background-color: brown;
}
#one{
    background-color: brown;
}
#one{
    background-color: brown;
}
.boxes{
    display:flex;
    justify-content: space-between;
    width: 24%;
    gap: 10px;

}